{% extends "base.html" %}
{% block title %}MSO - add order [PH]{% endblock %}
{% block pageTitle %}Aggiungi Ordine [PH]{% endblock %}
{% block content %}
<button type="button" class="btn btn-primary" id="myBtn">Get or Create Toast Instance</button>

<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="toast-container position-static">
    <div class="toast" id="myToast">
        <div class="toast-header bg-primary d-flex align-self">
            <strong class="me-auto text-white"><i class="bi bi-info-circle"></i> Ordine completato!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Ordine contrassegnato come completato.
        </div>
    </div>
    <!--    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">-->
    <!--        <div class="toast-header">-->
    <!--            <strong class="me-auto">Bootstrap</strong>-->
    <!--            <small class="text-body-secondary">just now</small>-->
    <!--            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
    <!--        </div>-->
    <!--        <div class="toast-body">-->
    <!--            See? Just like this.-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">-->
    <!--        <div class="toast-header">-->
    <!--            <img src="..." class="rounded me-2" alt="...">-->
    <!--            <strong class="me-auto">Bootstrap</strong>-->
    <!--            <small class="text-body-secondary">2 seconds ago</small>-->
    <!--            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
    <!--        </div>-->
    <!--        <div class="toast-body">-->
    <!--            Heads up, toasts will stack automatically-->
    <!--        </div>-->
    <!--    </div>-->
</div>
{% endblock %}
