{% extends "base.html" %}
{% block title %}MSO - HomePage [PH]{% endblock %}
{% block pageTitle %}Elenco Ordini{% endblock %}
{% block contentTitle %}
<div class="container-fluid d-flex shadow-lg center text-white"
     style="height:5rem;background-color: #0a376d">
    <h4 class="col-1"></h4>
    <h4 class="col align-self-center">Data Arrivo</h4>
    <h4 class="col align-self-center">Info Cliente</h4>
    <h4 class="col align-self-center">Libri</h4>
    <h4 class="col align-self-center">Corriere</h4>
    <h4 class="col align-self-center">Stato Pagamento</h4>
    <h4 class="col align-self-center">Stato Consegna</h4>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid pt-2 mb-5 overflow-auto">
    {% for order in orders %}
    <div class="card d-flex rounded-0 shadow-sm mb-2" style="height: 4rem">
        <div class="row no-gutters">
            <svg xmlns="http://www.w3.org/2000/svg" height="64" fill="currentColor"
                 class="bi bi-box2 p-2 border-right col-1"
                 viewBox="0 0 16 16">
                <path d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3zM7.5 1H3.75L1.5 4h6zm1 0v3h6l-2.25-3zM15 5H1v10h14z"/>
            </svg>
            <div class="row card-body d-flex">
                <p class="card-text col align-self-center border-right text-truncate">
                    {{order.delivery_date}}
                </p>
                <a type="button" class="card-link col text-primary align-self-start text-truncate" data-toggle="modal"
                   data-target="#order{{order.order_id}}">
                    <b>{{order.client_name}} {{order.client_surname}}</b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                </a>
                <p class="card-text col align-self-center border-right border-left text-truncate">
                    {{order.order_content}}</p>
                <p class="card-text col align-self-center border-right border-left text-truncate">
                    {{order.delivery_channel}}</p>
                <p class="card-text col align-self-center border-right text-truncate">
                    {{order.payment_state_str()}} </p>
                <div class="card-text col align-self-start text-truncate">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill={{order.delivery_state_color()}}
                         class="bi bi-circle-fill align-self-center" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                    </svg>
                    &nbsp;{{order.delivery_state}}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="order{{order.order_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Informazioni Ordine</h4>
                </div>
                <div class="modal-body text-left">
                    <p><b>Data arrivo in negozio prevista:</b> {{order.delivery_date}}</p>
                    <p><b>Cliente:</b> {{order.client_name}} {{order.client_surname}}</p>
                    <p><b>Numero client:</b> {{order.client_cellphone}}</p>
                    <p><b>Libri ordinati:</b> {{order.order_content}}</p>
                    <p><b>Canale consegna:</b> {{order.delivery_channel}}</p>
                    <p><b>Stato pagamento:</b> {{order.payment_state_str()}}</p>
                    <p><b>Stato consegna:</b>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                             fill={{order.delivery_state_color()}}
                             class="bi bi-circle-fill align-self-start" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"/>
                        </svg>
                        {{order.delivery_state}}
                    </p>
                    <p><b>Ordine concluso:</b> {{order.finished_str()}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="pt-5 text-center">
        <h2>Nessun ordine presente</h2>
        <br>
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="red" class="bi bi-x-circle-fill"
             viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
        </svg>
    </div>
    {% endfor %}
</div>
<!--<div style="height:3.4rem"></div>-->
{% endblock %}