{% extends "base.html" %}
{% block title %}MSO - HomePage [PH]{% endblock %}
{% block pageTitle %}Elenco Ordini [PH]{% endblock %}
{% block contentTitle %}
<div class="container-fluid d-flex shadow-lg center text-white bg-darkblue"
     style="height:5rem">
    <h4 class="col-1"></h4>
    <h4 class="col align-self-center">Data Arrivo</h4>
    <h4 class="col align-self-center">Info Cliente</h4>
    <h4 class="col align-self-center">Corriere</h4>
    <h4 class="col align-self-center">Stato Pagamento</h4>
    <h4 class="col align-self-center">Stato Consegna</h4>
    <h4 class="col align-self-center">Operazioni</h4>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid pt-2 mb-5 overflow-auto content-box">
    {% for order in orders %}
    <div class="card d-flex rounded-0 shadow-sm mb-2 ml-1 mr-1" style="height: 4rem">
        <div class="row no-gutters">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                 class="bi bi-box2 border-right col-1 p-2"
                 viewBox="0 0 16 16">
                <path d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3zM7.5 1H3.75L1.5 4h6zm1 0v3h6l-2.25-3zM15 5H1v10h14z"/>
            </svg>
            <div class="row card-body d-flex">
                <p class="card-text col align-self-center border-right text-truncate">
                    {{order.get_date()}}
                </p>
                <a type="button" class="card-link col text-primary align-self-start text-truncate" data-toggle="modal"
                   data-target="#order{{order.order_id}}">
                    <b>{{order.customer_name}} {{order.customer_surname}} ({{order.customer_cellphone}})</b>
                    <i class="bi bi-info-circle" width="16"></i>
                </a>
                <p class="card-text col align-self-center border-right border-left text-truncate">
                    {{order.delivery_channel}}</p>
                <p class="card-text col align-self-center border-right text-truncate">
                    {{order.payment_state_str()}} </p>
                <div class="card-text col align-self-start border-right  text-truncate">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill={{order.delivery_state_color()}}
                         class="bi bi-circle-fill align-self-center" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                    </svg>
                    &nbsp;{{order.delivery_state_str()}}
                </div>
                <div class="btn-group col" role="group" aria-label="operations">
                    <a type="button" class="card-text col" data-toggle="modal"
                       data-target="#completed{{order.order_id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                             class="bi bi-check-circle operation-success" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                        </svg>
                    </a>
                    <a type="button" class="card-text col" data-toggle="modal"
                       data-target="#payed{{order.order_id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                             class="bi bi-wallet2 operation-success" viewBox="0 0 16 16">
                            <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
                        </svg>
                    </a>
                    <a type="button" class="card-text col" data-toggle="modal"
                       data-target="#delivered{{order.order_id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                             class="bi bi-box2-heart operation-success" viewBox="0 0 16 16">
                            <path d="M8 7.982C9.664 6.309 13.825 9.236 8 13 2.175 9.236 6.336 6.31 8 7.982"/>
                            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4zm0 1H7.5v3h-6zM8.5 4V1h3.75l2.25 3zM15 5v10H1V5z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="completed{{order.order_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vuoi segnare l'ordine come <b class="text-primary">completato</b>?</h4>
                </div>
                <form>
                    <div class="modal-body text-left">
                        <h5>Riassunto ordine {{order.customer_name}} {{order.customer_surname}}</h5>
                        <hr>
                        <div class="d-flex">
                            <b>Stato pagamento:</b> &nbsp;
                            <p class="text-danger">{{order.payment_state_str()}}</p>
                        </div>
                        <div class="d-flex">
                            <b>Stato consegna:</b> &nbsp;
                            <p class="text-danger">{{order.delivery_state_str()}}</p>
                        </div>
                        {% if not order.payment_state %}
                        <label>
                            <input type="checkbox" required>
                            Imposta ordine come PAGATO.
                        </label>
                        {% endif %}
                        {% if not order.payment_state %}
                        <label>
                            <input type="checkbox" required>
                            Imposta ordine come CONSEGNATO.
                        </label>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Chiudi">
                        <input type="submit" class="btn btn-primary" value="Conferma">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="payed{{order.order_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vuoi segnare l'ordine come <b class="text-primary">pagato</b>?</h4>
                </div>
                <div class="modal-body text-left">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="delivered{{order.order_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vuoi segnare l'ordine come <b class="text-primary">arrivato</b>?
                    </h4>
                </div>
                <div class="modal-body text-left">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="order{{order.order_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Informazioni Ordine</h4>
                </div>
                <div class="modal-body text-left">
                    <p><b>Cliente:</b> {{order.customer_name}} {{order.customer_surname}}</p>
                    <p><b>Cellulare:</b> {{order.customer_cellphone}}</p>
                    <hr class="hr-text" data-content="Info Consegna">
                    <p><b>Data arrivo prevista:</b> {{order.get_date()}}</p>
                    <p><b>Libri ordinati:</b> {{order.order_content}}</p>
                    <p><b>Canale consegna:</b> {{order.delivery_channel}}</p>
                    <p><b>Stato consegna:</b>
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                             fill={{order.delivery_state_color()}}
                             class="bi bi-circle-fill align-self-start" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"/>
                        </svg>
                        {{order.delivery_state_str()}}
                    </p>
                    <hr>
                    <p><b>Stato pagamento:</b> {{order.payment_state_str()}}</p>
                    <hr>
                    <p><b>Stato ordine:</b> {{order.finished_str()}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="toast" id="myToast" data-bs-autohide="false">-->
    <!--        <div class="toast-header">-->
    <!--            <strong class="me-auto"><i class="bi-gift-fill"></i> We miss you!</strong>-->
    <!--            <small>10 mins ago</small>-->
    <!--            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>-->
    <!--        </div>-->
    <!--        <div class="toast-body">-->
    <!--            It's been a long time since you visited us. We've something special for you. <a href="#">Click here!</a>-->
    <!--        </div>-->
    <!--    </div>-->
    {% else %}
    <div class="pt-5 text-center">
        <h2>Nessun ordine presente</h2>
        <br>
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="red" class="bi bi-x-circle-fill"
             viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
        </svg>
    </div>
    {% endfor %}
</div>
<!--<div style="height:3.4rem"></div>-->
{% endblock %}